html, body {
	height: 100%;
}

body {
	@include type-body;
	background: $bg;
}

h1, h2, h3, h4, h5, h6 {
	@include type-heading;
}

header.main {
	@include box-shadow(0,1px,5px,rgba($black,.1));
	@include linear-gradient(lighten($white,1%),darken($white,1%));
	position: fixed;
	top: 0;
	z-index: 100;
	width: 90%;
	height: 50px;
	padding: 0 5% 1px;
	border-bottom: 1px solid darken($white,7%);

	a {
		text-decoration: none;
		text-shadow: 0 1px 1px #fff;
		color: $text-color;
	}

	.logo {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 1px;
		font-size: 1.4em;
		text-align: center;
		line-height: 50px;

		a {
			display: block;
			height: 100%;
			
			&:before { display: none !important; }
		}
	}

	.menu-trigger {
		@include box-shadow(0,-1px,1px,darken($white,40%));
		position: absolute;
		top: 0;
		left: 0;
		border-right: 1px solid #fff;
		padding: 15px 5% 10px;
		font-size: 1.2em;
	}

	nav {
		display: none;

		a {
			font-weight: bold;
			color: $text-color;

			&:hover, &:focus { color: $link-color; }
		}
	}
}

.content {
	padding: 50px 5% 0;

	h2 {
		position: relative;
		margin-top: 0;
		padding-top: 60px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 30px;
			left: 0;
			width: 100%;
			height: 1px;
			background: darken($bg,10%);
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

dl {
	margin-top: 30px;
}

dt {
	margin-top: 45px;

	&:first-child {
		margin-top: 0;
	}
}

dd {
	margin-left: 30px;
}

footer.main {
	padding: 0 5% 25px;
}

#jPanelMenu-menu {
	background: #444;

	li {
		a {
			@include linear-gradient(lighten(#444,1%), darken(#444,1%));
			display: block;
			padding: 10px 5%;
			border-top: 1px solid lighten(#444,5%);
			border-bottom: 1px solid darken(#444,5%);
			font-weight: bold;
			text-decoration: none;
			text-shadow: 0 -1px 1px $black;
			color: $white;
		}
	}
}

.jPanelMenu-panel {
	@include box-shadow(0,0,25px,rgba($black,.25));
	background: $bg;
}