body {
	width: 100%;
}

.jPanelMenu, body {
	overflow-x: hidden;
}

#jPanelMenu-menu {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.jPanelMenu-panel {
	position: static;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	min-height: 100%;
	background: #fff;
}