.content {
	padding-bottom: $vertical-space;

	section {
		p:last-child {
			margin-bottom: 0;
		}
	}

	h2 {
		a {
			position: relative;
			text-decoration: none;
			color: $text-color;

			&:hover, &:focus {
				&:before {
					@include type-icon;
					position: absolute;
					top: 3px;
					left: -1.25em;
					content: '\1F517';
					margin-right: .5em;
					font-size: .75em;
					text-shadow: 0 1px 1px $white;
					color: $text-color-light
				}
			}
		}
	}
}

.spec {
	margin: 0;
	padding-top: $vertical-space-xl;

	&.first { padding-top: 0; }

	.details {
		@include border-radius(10px);
		background: $bg-light;
		border: 1px solid $text-color-lightest;
		padding: $vertical-space*1.25 $vertical-space*1.25 $vertical-space;

		p:first-child { margin-top: 0; }
		p:last-child { margin-bottom: 0; }
	}

	&:last-child { margin-bottom: 0; }
}

.param {
	.details {
		background: mix($bg,$bg-light);
	}
}