header.main {
	margin-top: 0;
	padding-top: $vertical-space;

	.menu-trigger {
		display: none;
	}

	nav {
		ul {
			@include clearfix;
		}

		li {
			float: left;
			margin-right: 10%;
			margin-bottom: $vertical-space-small;
		}

		a {
			text-decoration: none;
			color: $text-color;

			&:hover, &:focus {
				text-decoration: underline;
				color: $link-color;
			}
		}
	}

	@media (min-width: 50em) {
		h1 a:before { display: none !important; }
		nav ul li { margin-right: 4%; }
	}

	@media (min-width: 75em) {
		@include clearfix;
		padding-left: 0;
		padding-right: 0;

		.logo {
			float: left;

			a { left: 10px; }
		}

		nav {
			float: right;
			width: 66%;

			ul li {
				&:last-child { margin-right: 0; margin-bottom: 0; }
			}
		}
	}
}