/* Colors */

$bg: #f7f7f7;
$white: #f7f7f7;
$black: #222;

$green: #568529;
$green-light: #acd185;
$green-lighter: #c6e0ae;
$green-dark: #395a1b;
$green-darker: #1d2c0d;

$yellow: #d7d782;
$yellow-light: #e8e8b4;
$yellow-lighter: #eeeecd;
$yellow-dark: #a1a161;
$yellow-darker: #6c6c41;

$main: $green;

$text-color: #444;
// $link-color: #4095bf;
$link-color: $green;

/* Type Styles */

@mixin type-heading() {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

@mixin type-body() {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: $text-color;
}

/* Generic Styles */

::-moz-selection {
	background: lighten($main,10%);
	color: $white;
}

::selection {
	background: lighten($main,10%);
	color: $white;
}

a {
	color: $link-color;

	&:hover, &:focus {
		color: lighten($link-color,10%);
	}

	&:active {
		color: darken($link-color,10%);
	}
}